@{
    ViewBag.Title = "Connecto - Reports";
}
<div class="row">
    <div class="col-sm-6">
        <div class="widget-box transparent">
            <div class="widget-header widget-header-flat">
                <h4 class="widget-title lighter">
                    <i class="ace-icon fa fa-bar-chart-o orange"></i>
                   Frequent
                </h4>

                <div class="widget-toolbar">
                    <a href="#" data-action="collapse">
                        <i class="ace-icon fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main no-padding">
                    <table class="table table-bordered table-striped">
                        <thead class="thin-border-bottom">
                            <tr>
                                <th>Purchase</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Purchase Order, Filtered by Product Code and Reorder Level</td>
                                <td class="width-auto">
                                    <a class="btn btn-xs btn-info" href="@Url.Action("Load", "BusinessIntelligence", new { id = "088a2fcb-d4e3-492b-b211-74e6ae5cec9e" })">
                                        <i class="ace-icon fa fa-bar-chart-o bigger-110"></i> View
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Detail information of purchased product, Filtered by Date Range</td>
                                <td class="width-auto">
                                    <a class="btn btn-xs btn-info" href="@Url.Action("Load", "BusinessIntelligence", new { id = "a88a2fcb-d4e3-491a-b220-74e6ae5cec9f" })">
                                        <i class="ace-icon fa fa-bar-chart-o bigger-110"></i> View
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Detail information of purchased product, Filtered by Reference Code</td>
                                <td class="width-auto">
                                    <a class="btn btn-xs btn-info" href="@Url.Action("Load", "BusinessIntelligence", new { id = "0367b43c-65d7-4c63-b204-f9373787b048" })">
                                        <i class="ace-icon fa fa-bar-chart-o bigger-110"></i> View
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Product Supplier Details, Order by Product Id</td>
                                <td class="width-auto">
                                    <a class="btn btn-xs btn-info" href="@Url.Action("Load", "BusinessIntelligence", new { id = "d88a2fcb-d4e3-492a-b220-74e6ae5cec9b" })">
                                        <i class="ace-icon fa fa-bar-chart-o bigger-110"></i> View
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th>Stocks</th>
                            </tr>
                            <tr>
                                <td>Stock Details Order by Product Name</td>
                                <td class="width-auto">
                                    <a class="btn btn-xs btn-info" href="@Url.Action("Load", "BusinessIntelligence", new { id = "6d64a1f1-7482-4376-b64d-2c8db0683c98" })">
                                        <i class="ace-icon fa fa-bar-chart-o bigger-110"></i> View
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Stock Details by Product Type</td>
                                <td class="width-auto">
                                    <a class="btn btn-xs btn-info" href="@Url.Action("Load", "BusinessIntelligence", new { id = "9467b43c-65d7-4c63-b204-f9373787b049" })">
                                        <i class="ace-icon fa fa-bar-chart-o bigger-110"></i> View
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Margin amount detail of purchased product</td>
                                <td class="width-auto">
                                    <a class="btn btn-xs btn-info" href="@Url.Action("Load", "BusinessIntelligence", new { id = "a88a2fcb-d4e3-491a-b220-74e6ae5cec9e" })">
                                        <i class="ace-icon fa fa-bar-chart-o bigger-110"></i> View
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th>Sales</th>
                            </tr>
                            <tr>
                                <td>Daily Sales Report for products, Filtered by Date</td>
                                <td class="width-auto">
                                    <a class="btn btn-xs btn-info" href="@Url.Action("Load", "BusinessIntelligence", new { id = "8d64a1f1-7482-4376-b64d-2c8db0683c95" })">
                                        <i class="ace-icon fa fa-bar-chart-o bigger-110"></i> View
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Monthly Sales Report for products, Filtered by Date Range</td>
                                <td class="width-auto">
                                    <a class="btn btn-xs btn-info" href="@Url.Action("Load", "BusinessIntelligence", new { id = "a88a2fcb-d4e3-492b-b230-75e6ae5cec9c" })">
                                        <i class="ace-icon fa fa-bar-chart-o bigger-110"></i> View
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Daily Sales Discount Report for products, Filtered by Date</td>
                                <td class="width-auto">
                                    <a class="btn btn-xs btn-info" href="@Url.Action("Load", "BusinessIntelligence", new { id = "d88a2fcb-d4e3-492b-b210-74e6ae5cec9b" })">
                                        <i class="ace-icon fa fa-bar-chart-o bigger-110"></i> View
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Monthly Sales Discount Report for products, Filtered by Date Range</td>
                                <td class="width-auto">
                                    <a class="btn btn-xs btn-info" href="@Url.Action("Load", "BusinessIntelligence", new { id = "988a2fcb-d4e3-492b-b211-74e6ae5cec9f" })">
                                        <i class="ace-icon fa fa-bar-chart-o bigger-110"></i> View
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th>Return</th>
                            </tr>
                            <tr>
                                <td>Daily Return Report for products, Filtered by Date</td>
                                <td class="width-auto">
                                    <a class="btn btn-xs btn-info" href="@Url.Action("Load", "BusinessIntelligence", new { id = "1aaaad03-8582-4aa9-89ee-7fd6cfc7367e" })">
                                        <i class="ace-icon fa fa-bar-chart-o bigger-110"></i> View
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Return Report for products, Filtered by Date Range</td>
                                <td class="width-auto">
                                    <a class="btn btn-xs btn-info" href="@Url.Action("Load", "BusinessIntelligence", new { id = "7266df4c-faf5-4c1a-b05b-8734a8d75994" })">
                                        <i class="ace-icon fa fa-bar-chart-o bigger-110"></i> View
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div><!-- /.widget-main -->
            </div><!-- /.widget-body -->
        </div>
    </div>
    <div class="col-sm-6"></div>
</div>
<script type="text/javascript">
    $('#menu-bi').syncMenu([{ name: "biTransactions", option: "a" }]);
</script>