@model Connecto.BusinessObjects.Contact

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Contact</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Person.PersonGuid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Person.PersonGuid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Person.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Person.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Person.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Person.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Person.LocationId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Person.LocationId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Person.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Person.Status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Person.CreatedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Person.CreatedBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Person.CreatedOn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Person.CreatedOn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Person.EditedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Person.EditedBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Person.EditedOn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Person.EditedOn)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.EmployeeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
