@model IEnumerable<Connecto.BusinessObjects.Contact>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>Address Number</th>
        <th>Address</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AddressNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressStreet)
        </td>
            <td>
                <div class="hidden-sm hidden-xs btn-group">
                    <a class="btn btn-xs btn-info" href="@Url.Action("Edit", "Contact", new { id = item.ContactId })"><i class="ace-icon fa fa-pencil bigger-120"></i></a>
                    <a class="btn btn-xs btn-warning" href="@Url.Action("Details", "Contact", new { id = item.ContactId })"><i class="ace-icon fa fa-eye bigger-120"></i></a>
                    <a class="btn btn-xs btn-danger" href="@Url.Action("Delete", "Contact", new { id = item.ContactId })"><i class="ace-icon fa fa-trash-o bigger-120"></i></a>
                </div>
            </td>
        </tr>
    }

</table>


