@model Connecto.BusinessObjects.Supplier

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Supplier</legend>

        @Html.HiddenFor(model => model.SupplierId)
        @Html.HiddenFor(model => model.Person.PersonId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Person.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Person.FirstName)
            @Html.ValidationMessageFor(model => model.Person.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Person.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Person.LastName)
            @Html.ValidationMessageFor(model => model.Person.LastName)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Person.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Person.Description)
            @Html.ValidationMessageFor(model => model.Person.Description)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
    
<p>
    @Html.ActionLink("New Contact", "CreateContact", new { id = Model.Person.PersonId })
</p>
    @Html.Action("Contacts", "Supplier", new { contacts = Model.Person.Contacts })
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
