@model Connecto.BusinessObjects.Supplier

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Supplier</legend>

        @Html.HiddenFor(model => model.SupplierId)
        @Html.HiddenFor(model => model.Person.PersonGuid)

        <div class="editor-label">
            @Html.LabelFor(model => model.Person.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Person.FirstName)
            @Html.ValidationMessageFor(model => model.Person.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Person.LocationId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Person.LocationId)
            @Html.ValidationMessageFor(model => model.Person.LocationId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Person.Status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Person.Status)
            @Html.ValidationMessageFor(model => model.Person.Status)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Person.CreatedBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Person.CreatedBy)
            @Html.ValidationMessageFor(model => model.Person.CreatedBy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Person.CreatedOn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Person.CreatedOn)
            @Html.ValidationMessageFor(model => model.Person.CreatedOn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Person.EditedBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Person.EditedBy)
            @Html.ValidationMessageFor(model => model.Person.EditedBy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Person.EditedOn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Person.EditedOn)
            @Html.ValidationMessageFor(model => model.Person.EditedOn)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
