@model Connecto.BusinessObjects.Measure

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
        @Html.HiddenFor(model => model.MeasureId)
    <fieldset>
        <legend>Measure</legend>
        Are you sure, do you want to delete 
            @Html.DisplayFor(model => model.Volume) @Html.DisplayFor(model => model.Lower)
            1 @Html.DisplayFor(model => model.Actual)?
        <p>
            <input type="submit" value="Delete" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
